{% extends 'base.html' %}

{% block titulo %}
<title>Inicio</title>
{% endblock %}

{% block post %}
<div id="containLib" class="container">
</div>
{% endblock %}

{% block scripts %}
<script>
    var elementoAnterior=1;

    $(function() {
        {% for post in posts %}
        var meter= "<div class='vistPrev prof' onclick='cambiarPortada({{forloop.counter}})'><h2 style='color:#0d47a1;'>{{post.titulo}}</h2><h3 style='color:#0d47a1;'>{{post.fecha}}</h3><img src='{{ MEDIA_URL }}/{{post.img1}}' width='50%' height='50%' img><img src='{{ MEDIA_URL }}/{{post.img2}}' width='50%' height='50%' img></div>";
         $("#containLib").append(meter);
         {% endfor %}
         meter="<div id='elModal' class='modal modal-fixed-footer red ligthen-1' style='display: none; opacity: 1; top: 10%;'><div class='modal-content'><div style='width:20%; position:fixed; margin-left:72%'><img id='modalI1' src='' width='50%' height='50%' img><img id='modalI2' src='' width='50%' height='50%' img></div><div class='vistPrev' style='width:75%'><h4 id='modalH'>Modal Header</h4></div></div><div class='modal-footer red  darken-2'><a href='#!' class='modal-action modal-close waves-effect waves-red btn-flat ' style='color:white'>Cerrar</a></div></div>";
          $("#containLib").append(meter);
         })
         /*function cambiarPortada(tocado){
             $('#elModal').openModal();
             {% for libro in libros %}
             if({{forloop.counter}}==tocado){
                 $("#modalI1").attr('src', "{{ MEDIA_URL }}/{{post.img1}}");
                 $("#modalI2").attr('src', "{{ MEDIA_URL }}/{{post.img2}}");
                 $("#modalH").html("{{libro.titulo}}");
                 $("#modalP").html("{{libro.descripcion}}");
                 $("#modalD").attr('href', "{{ MEDIA_URL }}/{{libro.archivo}}");
                 $("#modalMI").attr('href', "{% url 'biblioteca:librete' libro.id %}");
                 $('#modalD').click(function(){
                     Materialize.toast('Descarga iniciada', 2000);
                 });
             }
              {% endfor %}
              }*/


</script>
{% endblock %}
